body {
    display: flex;
    flex-direction: column;
    background-color: #222; /* Fondo blanco */
    color: #eee; /* Letras en color azul */
    --main-color:#0000ff;
    --text-color:#48e;
    --nav-color:#627ff5;
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    color:inherit;
    user-select: none;
}
button{
    user-select: none;
}
nav a{
    text-decoration: none;
}
.nav {
    box-shadow: 0px 0px 10px 0.3px #111;
    background-color: #333; /* Fondo azul */
    color: #ffffff; /* Letras blancas */
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.nav i{
    margin: auto;
    cursor: pointer;
    font-size: 30px;
}
.nav_openbtn{
    margin: 0px;
}
.nav-h1 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.sidebar{
    color: var(--nav-color);
    background-color: #111;
    height: 100dvh;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.sidebar_div-title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--nav-color);
}

.sidebar_btn{
    all: unset;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}
.sidebar_btn:hover{
    background-color: #222;
    color: #eee;
}
.sidebar_nav{
    flex:1;
    display: flex;
    align-items: flex-start;
}
.sidebar_ul{
    padding-left: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-decoration: none;
}
.sidebar_ul-li{
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 6px;
    text-transform: uppercase;
}
.sidebar_ul-li:hover{
    background-color: #222;
    color: #eee;
}
.sidebar_ul-li i{
    padding: 12px;
}

li button{
    all:unset
}
li button:hover{
    all: unset;
}
.sidebar_information_div{
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: 2px solid var(--nav-color);
    padding: 10px;
}
.sidebar_information_div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar_information-item{
    margin: 7px;
}
.sidebar_information_div i{
    align-self: flex-end;
}


.div-main, .div-moves, .div-mid, .continue-game,.continue-pokemon_div, .presets_div, .preset, .preset_div, .div-style {
    box-shadow: 0px 0px 10px 0.3px #111;
    padding: 1rem;
    border: 1px solid var(--text-color);
    margin: 1rem;
    border-radius: 8px;
}

.div-main, .div-moves {
    background-color: #222; /* Fondo blanco azulado */
}

.div {
    margin-bottom: 1rem;
}
.pokemon-data{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputs-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.div-inputs {
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#inp-text {
    box-shadow: 0px 0px 10px 0.3px #111;
    margin: 10px 0px 0px 0px;
    padding: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 4px;
    width: 100%;
}

.div-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.div-inputs__btn {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.div-inputs__btn:hover {
    background-color: #111; /* Color más oscuro al pasar el ratón */
}

.pokemon-div, .pokemon-stats {
    border: 1px solid #0000ff;
    margin: 10px;
    padding: 1rem;
    border-radius: 8px;
}
.pokemon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-stats{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 130px;
    height: auto;
}


.pokemon-moves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.moves-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.move-container {
    box-shadow: 0px 0px 10px 0.3px #111;
    border: 1px solid #0000ff;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #111; /* Fondo blanco muy claro */
    transition: 1s all
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#input-move-searcher-1,
#input-move-searcher-2,
#input-move-searcher-3,
#input-move-searcher-4 {
    padding: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 4px;
}
#confirm-changes{
    animation: left-to-right 2s ease 0s 1 normal forwards;
}

.move-div_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tiny-move {
    margin: 0;
    padding: 0;
}

.choosen-pokemon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.chooseMovesButton{
    animation: entrance2 1s ease 0s 1 normal forwards;
}

button {
    margin: 10px;
    box-shadow: 0px 0px 10px 0.3px #111;
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #111;
}
.loadAnim{
    animation: load 1s linear infinite;
}
.done{
    background-color: #0000ff;
    color: #222;
}
@keyframes load {
    0%{background-color: #333;}
    50%{background-color: #0000ff;}
    100%{background-color: #333;}
}
.main-footer{
    box-shadow: 0px 0px 10px 0.3px #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #111;
    padding: 10px;
}
.footer-item{
    margin: 10px;
}
.info-content{
    display: flex;
    align-items: center;
}
i{
    font-size: 30px;
}

.continue-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    
}
.continue-btn_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.continue-pokemon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.pokemons-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.continue-item{
    margin: 5px;
}
.continue-pokemon_div img{
    width: 100px;

}

.teampresets_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.preset_div{
    width: 300px;
    margin: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.preset-item{
    margin: 0px;
}
.preset-img{
    width: 50px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_divtext{
    text-align: center;
}
.header_div-characteristics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
}
.header_div-chara{
    text-align: justify;
    transition: 0.3s box-shadow;
}
.header_div-chara:hover{
    box-shadow: 0px 0px 13px 0.2px #fff;
}
.section-home{
    display: inline-block;
    text-align: center;
}
.white-shadow{
    box-shadow: 0px 0px 13px 0.2px #fff;
}
@keyframes left-to-right {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@keyframes entrance {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
@keyframes entrance2 {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}
.dis {
    display: none;
}
@media only screen and (max-width: 650px){
    .move-container{
        grid-template-columns: 100px 100px;
        min-width: 100px;
    }
    .header_div-characteristics{
        display: flex;
        flex-wrap: wrap;
    }
    .teampresets_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}